[run]
branch = True
omit =
    # Schema tested by `make check-black`
    samtranslator/schema/*
    samtranslator/internal/schema_source/*
    # Deprecated validator module
    samtranslator/validator/validator.py
[report]
exclude_lines =
    pragma: no cover