[MASTER]

# Specify a configuration file.
#rcfile=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
#init-hook=

# Add files or directories to the ignore list. They should be base names, not
# paths.
ignore=compat.py, __main__.py

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=
    pylint.extensions.check_elif, # Else If Used checker
    pylint.extensions.emptystring, # compare to empty string
    pylint.extensions.comparetozero, # compare to 0
    pylint.extensions.docparams, # Parameter documentation checker

# Use multiple processes to speed up Pylint.
# Pylint has a bug on multitread, turn it off.
jobs=1

# Allow loading of arbitrary C extensions. Extensions are imported into the
# active Python interpreter and may run arbitrary code.
unsafe-load-any-extension=no

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist=

# Allow optimization of some AST trees. This will activate a peephole AST
# optimizer, which will apply various small optimizations. For instance, it can
# be used to obtain the result of joining multiple strings with the addition
# operator. Joining a lot of strings can lead to a maximum recursion error in
# Pylint and this flag can prevent that. It has one side effect, the resulting
# AST will be different than the one from reality.
optimize-ast=no


[MESSAGES CONTROL]

# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED
confidence=

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time. See also the "--disable" option for examples.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use"--disable=all --enable=classes
# --disable=W"
disable=
    C0209, # consider-using-f-string. There are too many of them
    W0613, # Unused argument %r
    W0640, # Cell variable %s defined in loop A variable used in a closure is defined in a loop
    R0902, # Too many instance attributes (%s/%s)
    # R0903, # Too few public methods (%s/%s)
    R0913, # Too many arguments (%s/%s)
    W0703, # Catching too general exception %s
    R0904, # Too many public methods (%s/%s)
    R0914, # Too many local variables (%s/%s)
    R0915, # Too many statements
    C0415, # Import outside toplevel (%s) Used when an import statement is used anywhere other than the module toplevel. Move this import to the top of the file.
    C0115, # missing-class-docstring
    # below are docstring lint rules, in order to incrementally improve our docstring while
    # without introduce too much effort at a time, we exclude most of the docstring lint rules.
    # We will remove them one by one.
    # W9005, # "%s" has constructor parameters documented in class and __init__
    W9006, # "%s" not documented as being raised
    # W9008, # Redundant returns documentation
    # W9010, # Redundant yields documentation
    W9011, # Missing return documentation
    W9012, # Missing return type documentation
    # W9013, # Missing yield documentation
    # W9014, # Missing yield type documentation
    # W9015, # "%s" missing in parameter documentation
    W9016, # "%s" missing in parameter type documentation
    # W9017, # "%s" differing in parameter documentation
    # W9018, # "%s" differing in parameter type documentation
    # W9019, # "%s" useless ignored parameter documentation
    # W9020, # "%s" useless ignored parameter type documentation
    # Constant name style warnings. We will remove them one by one.
    C0103, # Class constant name "%s" doesn't conform to UPPER_CASE naming style ('([^\\W\\da-z][^\\Wa-z]*|__.*__)$' pattern) (invalid-name)
    # New recommendations, disable for now to avoid introducing behaviour changes.
    R1729, # Use a generator instead '%s' (use-a-generator)
    # R1732, # Consider using 'with' for resource-allocating operations (consider-using-with)
    # This applies to CPython only.
    # I1101, # Module 'math' has no 'pow' member, but source is unavailable. Consider adding this module to extension-pkg-allow-list if you want to perform analysis based on run-time introspection of living objects. (c-extension-no-member)    
    # Added to allow linting. Need to work on removing over time
    R0801, # dupilcated code
    R0401, # Cyclic import
    C0411, # import ordering
    W9015, # missing parameter in doc strings
    # W0612, # unused variable
    R0205, # useless-object-inheritanc
    C0301, # line to long
    R0201, # no self use, method could be a function
    C0114, # missing-module-docstring
    W1202, # Use lazy % formatting in logging functions (logging-format-interpolation)
    E1101, # No member 
    W0622, # Redefining built-in 'property' (redefined-builtin)
    # W0611, # unused imports
    # W0231, # super not called
    W0212, # protected-access
    W0201, # attribute-defined-outside-init
    R1725, # Consider using Python 3 style super() without arguments (super-with-arguments)
    C2001, # Avoid comparisons to zero (compare-to-zero)
    R0912, # too many branches
    W0235, # Useless super delegation in method '__init__' (useless-super-delegation)
    C0412, # Imports from package samtranslator are not grouped (ungrouped-imports)
    W0223, # abstract-method
    W0107, # unnecessary-pass
    W0707, # raise-missing-from
    # R1720, # no-else-raise
    # W0621, # redefined-outer-name
    E0203, # access-member-before-definition
    W0221, # arguments-differ
    R1710, # inconsistent-return-statements
    R1702, # too-many-nested-blocks
    C0123, # Use isinstance() rather than type() for a typecheck. (unidiomatic-typecheck)
    W0105, # String statement has no effect (pointless-string-statement)
    C0206, # Consider iterating with .items() (consider-using-dict-items)
    W9008, # Redundant returns documentation (redundant-returns-doc)
    # E0602, # undefined-variable
    C0112, # empty-docstring
    C0116, # missing-function-docstring
    # C0200, # consider-using-enumerate
    # R5501, # Consider using "elif" instead of "else if" (else-if-used)
    W9017, # differing-param-doc
    W9018, # differing-type-doc
    W0511, # fixme
    # C0325, # superfluous-parens
    # R1701, # consider-merging-isinstance
    C0302, # too-many-lines
    C0303, # trailing-whitespace
    # R1721, # unnecessary-comprehension
    # C0121, # singleton-comparison
    # E1305, # too-many-format-args
    # R1724, # no-else-continue
    # E0611, # no-name-in-module
    W9013, # missing-yield-doc
    W9014, # missing-yield-type-doc
    C0201, # consider-iterating-dictionary
    # W0237, # arguments-renamed
    # R1718, # consider-using-set-comprehension
    # R1723, # no-else-break
    E1133, # not-an-iterable
    E1135, # unsupported-membership-test
    R1705, # no-else-return


[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=text

# Put messages in a separate file for each module / package specified on the
# command line instead of printing them on stdout. Reports (if any) will be
# written in a file name "pylint_global.[txt|html]".
files-output=no

# Tells whether to display a full report or only the messages
reports=no

# Python expression which should return a note less than 10 (10 is the highest
# note). You have access to the variables errors warning, statement which
# respectively contain the number of errors / warnings messages and the total
# number of statements analyzed. This is used by the global evaluation report
# (RP0004).
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

# Template used to display messages. This is a python new-style format string
# used to format the message information. See doc for all details
#msg-template=


[BASIC]

# List of builtins function names that should not be used, separated by a comma
bad-functions=apply,reduce

# Good variable names which should always be accepted, separated by a comma
good-names=e,i,j,k,n,ex,Run,_

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,baz,toto,tutu,tata

# Colon-delimited sets of names that determine each other's naming style when
# the name regexes allow several styles.
name-group=

# Include a hint for the correct naming format with invalid-name
include-naming-hint=yes

# Regular expression matching correct function names
function-rgx=[a-z_][a-z0-9_]{2,50}$

# Naming hint for function names
function-name-hint=[a-z_][a-z0-9_]{2,30}$

# Regular expression matching correct variable names
variable-rgx=[a-z_][a-z0-9_]{0,50}$

# Naming hint for variable names
variable-name-hint=[a-z_][a-z0-9_]{2,30}$

# Regular expression matching correct constant names
const-rgx=(([a-zA-Z_][a-zA-Z0-9_]*)|(__.*__))$

# Naming hint for constant names
const-name-hint=(([A-Z_][A-Z0-9_]*)|(__.*__))$

# Regular expression matching correct attribute names
attr-rgx=[a-z_][a-z0-9_]{1,50}$

# Naming hint for attribute names
attr-name-hint=[a-z_][a-z0-9_]{2,30}$

# Regular expression matching correct argument names
argument-rgx=[a-z_][a-z0-9_]{0,50}$

# Naming hint for argument names
argument-name-hint=[a-z_][a-z0-9_]{2,30}$

# Regular expression matching correct class attribute names
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$

# Naming hint for class attribute names
class-attribute-name-hint=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$

# Regular expression matching correct inline iteration names
inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$

# Naming hint for inline iteration names
inlinevar-name-hint=[A-Za-z_][A-Za-z0-9_]*$

# Regular expression matching correct class names
class-rgx=[A-Z_][a-zA-Z0-9]+$

# Naming hint for class names
class-name-hint=[A-Z_][a-zA-Z0-9]+$

# Regular expression matching correct module names
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

# Naming hint for module names
module-name-hint=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

# Regular expression matching correct method names
method-rgx=[a-z_][a-z0-9_]{2,50}$

# Naming hint for method names
method-name-hint=[a-z_][a-z0-9_]{2,30}$

# Regular expression which should only match function or class names that do
# not require a docstring.
no-docstring-rgx=^_

# Minimum line length for functions/classes that require docstrings, shorter
# ones are exempt.
# To improve our docstring without spending too much effort at a time,
# here set it to 30 and decrease it gradually in the future.
docstring-min-length=30


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

# Allow the body of an if to be on the same line as the test if there is no
# else.
single-line-if-stmt=no

# List of optional constructs for which whitespace checking is disabled
no-space-check=trailing-comma,dict-separator

# Maximum number of lines in a module
max-module-lines=1000

# String used as indentation unit. This is usually " " (4 spaces) or "\t" (1
# tab).
indent-string='    '

# Number of spaces of indent required inside a hanging or continued line.
indent-after-paren=4

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=


[LOGGING]

# Logging modules to check that the string format arguments are in logging
# function parameter format
logging-modules=logging


[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=12

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes


[SPELLING]

# Spelling dictionary name. Available dictionaries: none. To make it working
# install python-enchant package.
spelling-dict=

# List of comma separated words that should not be checked.
spelling-ignore-words=

# A path to a file that contains private dictionary; one word per line.
spelling-private-dict-file=

# Tells whether to store unknown words to indicated private dictionary in
# --spelling-private-dict-file option instead of raising a message.
spelling-store-unknown-words=no


[TYPECHECK]

# Tells whether missing members accessed in mixin class should be ignored. A
# mixin class is detected if its name ends with "mixin" (case insensitive).
ignore-mixin-members=yes

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis
ignored-modules=

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set).
ignored-classes=SQLObject

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E0201 when accessed. Python regular
# expressions are accepted.
generated-members=REQUEST,acl_users,aq_parent,objects,DoesNotExist,md5,sha1,sha224,sha256,sha384,sha512


[VARIABLES]

# Tells whether we should check for unused import in __init__ files.
init-import=no

# A regular expression matching the name of dummy variables (i.e. expectedly
# not used).
dummy-variables-rgx=_|dummy|ignore

# List of additional names supposed to be defined in builtins. Remember that
# you should avoid to define new builtins when possible.
additional-builtins=

# List of strings which can identify a callback function by name. A callback
# name must start or end with one of those strings.
callbacks=cb_,_cb


[CLASSES]

# List of method names used to declare (i.e. assign) instance attributes.
defining-attr-methods=__init__,__new__,setUp

# List of valid names for the first argument in a class method.
valid-classmethod-first-arg=cls

# List of valid names for the first argument in a metaclass class method.
valid-metaclass-classmethod-first-arg=mcs

# List of member names, which should be excluded from the protected access
# warning.
exclude-protected=_asdict,_fields,_replace,_source,_make


[DESIGN]

# Maximum number of arguments for function / method
max-args=5

# Argument names that match this expression will be ignored. Default to name
# with leading underscore
ignored-argument-names=_.*

# Maximum number of locals for function / method body
max-locals=17

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of branch for function / method body
max-branches=12

# Maximum number of statements in function / method body
max-statements=30

# Maximum number of parents for a class (see R0901).
max-parents=6

# Maximum number of attributes for a class (see R0902).
max-attributes=7

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Maximum number of public methods for a class (see R0904).
max-public-methods=20


[IMPORTS]

# Deprecated modules which should not be used, separated by a comma
deprecated-modules=regsub,string,TERMIOS,Bastion,rexec,UserDict

# Create a graph of every (i.e. internal and external) dependencies in the
# given file (report RP0402 must not be disabled)
import-graph=

# Create a graph of external dependencies in the given file (report RP0402 must
# not be disabled)
ext-import-graph=

# Create a graph of internal dependencies in the given file (report RP0402 must
# not be disabled)
int-import-graph=

[EXCEPTIONS]

# Exceptions that will emit a warning when being caught. Defaults to
# "Exception"
overgeneral-exceptions=Exception
