# https://packaging.python.org/en/latest/guides/using-manifest-in/
# Only include files that are required in pypi source distribution.

include LICENSE
include requirements/base.txt
include requirements/dev.txt
recursive-include samtranslator/validator/sam_schema *.json
include samtranslator/policy_templates_data/policy_templates.json
include samtranslator/policy_templates_data/schema.json
include samtranslator/model/connector_profiles/profiles.json
include samtranslator/internal/data/aws_managed_policies.json
include samtranslator/internal/schema_source/sam-docs.json
include README.md
include THIRD_PARTY_LICENSES

prune tests
