name: Closed issue message

on:
  issues:
    types: [ closed ]
jobs:
  auto_comment:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: aws-actions/closed-issue-message@v1
        with:
          # These inputs are both required
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          message: |
            This issue is now closed. Comments on closed issues are hard for our team to see. 
            If you need more assistance, please either tag a team member or open a new issue that references this one. 